/*
* File: style.css
* Author: Ritzl Bence
* Copyright: 2024, Ritzl Bence
* Group: Szoft I/1/N
* Date: 2023-05-07
* Github: https://github.com/BenceRitzl99/
* Licenc: GNU GPL
*/

.btn {
    background-color: aqua;
}
.btn:hover{
    background-color:black;
    color: white;
    font-family: sans-serif;
}
#masikgomb{
    margin-left: 50px;
    margin-top: 30px;
}
#szoveg{
    text-align: center;

}